:root {
    --blue: rgb(54, 54, 104);
    --darkgray: rgb(69, 60, 60);
}


html {
    background-color: var(--blue);
}

main {
    background-color: var(--blue);
}

header {
    color: var(--blue);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: var(--blue);
    font-size: 2.5em;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--blue);
}

.search-container {
    padding-top: 1.5rem;
}

.btn {
    background-color: var(--darkgray);
    color: white;
    border: solid white 1px;
}

p {
    font-size: 1em;
}



