:root {
    --blue: rgb(54, 54, 104);
    --darkgray: rgb(69, 60, 60);
    --lightblue: rgb(4, 94, 123);
    --white: #fff;
    --border: solid #fff 2px;
    --skyblue: #AFDCEB;
}


html {
    background-color: var(--blue);
}

main {
    background-color: var(--blue);
    padding-bottom: 300px;
}

header {
    color: var(--blue);
    background: linear-gradient(45deg, var(--lightblue) 40%, var(--darkgray) 50%);
}

.mb-4 {
    margin-bottom: 0 !important;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: var(--white);
    font-size: 2.5em;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--white);
}

.search-container {
    padding-top: 1.5rem;
}

.btn {
    background-color: var(--darkgray);
    color: var(--white);
    border: solid white 1px;
}

.card-current {
    background-color: var(--white);
    color: var(--blue);
}

.card-current p {
    font-size: 1em;
}

.card-header {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 5% !important;
}

.card-header h3 {
    font-size: 1em;
}

.card-header h4 {
    font-size: 0.9rem;
}

#weather-icon {
    width: 10%;
}

#weather-icon2 {
    width: 40%;
}

.card-forecast {
    background-color: var(--white);
    width: auto;
    margin-top: 25px;
    border-radius: 5%;
}    

.city-btn {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    background-color: var(--white);
    color: var(--blue);
    border: solid var(--darkgray) 2px;
    font-family: Ubuntu;
    font-weight: 900;
}

/* blinker animation used for the error message to bring attention to it */

.response h4 {
    color: rgb(156, 4, 4);
    font-size: 2rem;
    animation: blinker 1s step-start infinite;
    margin-left: 10px;
}

@keyframes blinker {
    50% {
      color: white;
    }
  }


  /* animation added for cloud to move across screen */
  
  #title-image-2 {
    position: absolute;
    width: 25%;
    animation:  moveImgRight 5s ease-out infinite;
  }

  @keyframes moveImgRight{
    0% {
    transform: translateX(-350%) translateY(-20%);
    }
    100% {
    transform: translateX(350%) translateY(-250%);
    }
  }
